.App{
  /* background-image: url('./img/background.jpg'); */
  height: 100vh; 
  background-color:#FFADAD ;
  /* display: flex; */
  /* width: 100%; */
}

.Header{
  background: rgba(0, 0, 0, 0.15);
  color: white;
  padding: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

.addtask{
  display: flex;
  justify-content: center;
  padding: 15px;
}

button{
  background-color: #BFD8B8;
  border-radius: 3px;
  padding: 6px;
}
h1{
  text-transform: uppercase;
}

.column-list{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.column-list .column{
width: 30%;

}
.droppable-col{
  background-color: #FFDAC7;
  width: 100%;
  border-radius: 5px;
  padding: 10px 10px 0 10px;
  display: flex;
flex-direction: column;
}

.draggable-item{
  margin-bottom: 10px;
 color: black;
 background-color: #FFEFBC;
 border: 1px solid white;
 border-radius: 5px;
 padding: 10px;
}

.draggable-item.dragging{
  background-color: red;
  color: whitesmoke;
}

.draggable-item.false.done{
  text-decoration: line-through;
}
